{% load static %}
<footer>
    <div class="footerClass">
        <div class="float1">
            <div class="box">
                <h3>About</h3>
                <p>Meet Coach</p>
                <p>Press</p>
                <p>Social Feed</p>
                <p>Help</p>
                <p>Contact Us</p>
            </div>
            <div class="box">
                <h3>Blog</h3>
                <p>Business Coaching</p>
                <p>Relationship</p>
                <p>Leadership</p>
                <p>Life Coaching</p>
                <p>Time Management</p>
            </div>
            <div class="box">
                <h3>Resources</h3>
                <p>Online Courses</p>
                <p>Books Meditation</p>
                <p>Podcast</p>
                <p>Albums</p>
                <p>Download App</p>
            </div>
            <div class="box">
                <h3>Follow Me</h3>
                <p>Instagram</p>
                <p>Facebook</p>
                <p>LinkedIn</p>
                <p>YouTube</p>
                <p>Twitter</p>
            </div>
            <div class="box">
                <h3>Subscribe to our newsletter</h3>
                <p>Subscribe to get notified daily new motivational & inspiration tips.</p>
                <input type="email" placeholder="Email Address">
                <button class="btn">Subscribe</button>
            </div>
        </div>
        <hr>
        <div class="float2">
            <p>Copyright &copy; {% now "Y" %} , Inc. JaBa Collection of Codes</p>
        </div>
    </div>
</footer>