{% load static %}
<header>
    <div class="headerClass">
        <span>
            <a href="#" class="logoid">Duygu.<p>Yoga</p></a>
        </span>
        <span>
            <a href="#">Courses</a>
            <a href="#">Events</a>
            <a href="#">Blog</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </span>
        <span>
            <a href="#" class="btn btnBook">Book now</a>
            <div class="dropdown">
                <a class="btn btn-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-list"></i></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Courses</a></li>
                    <li><a class="dropdown-item" href="#">Events</a></li>
                    <li><a class="dropdown-item" href="#">Blog</a></li>
                    <li><a class="dropdown-item" href="#">About</a></li>
                    <li><a class="dropdown-item" href="#">Contact</a></li>
                </ul>
            </div>
        </span>
    </div>
</header>